{% extends 'base.html' %}{% load static %}

<!-- ============= title ================ -->
{% block title %} info {% endblock %}

<!-- ======= content ========= -->
{% block content %}
<main class="pt-5 mt-5">
  <div class="content info_details">
    <!-- ============= main ============ -->
    <h2>{{ main_title.title }}</h2>

    {% for paragraph in main_title.description.splitlines %}
    <p>{{ paragraph }}</p>
    {% endfor %}

    <ul class="related_list">
      {% for sub in main_title.subtitles.all %}
      <li>
        <a href="{% url 'sub_detail' sub.pk %}">{{ sub.title }} →</a>
      </li>
      {% endfor %}
    </ul>

    <p><a href="{% url 'info' %}">← Back to Main Titles</a></p>
  </div>
</main>

{% endblock content %}
