{% extends 'base.html' %}{% load static %}

<!-- ============= title ================ -->
{% block title %} psychological care {% endblock %}

<!-- ======= content ========= -->
{% block content %}
<main>
    <!-- ============= main ============ -->
    <div class="content">
        <h3>
            psychological care can have a positive impact on Alzheimer's patients in several ways:
        </h3>
        <p>
            Improving overall quality of life: Psychological care can help enhance the quality of life for Alzheimer's patients by providing emotional support and working on promoting psychological well-being and independence.
            <br /><br /> Managing depression and anxiety: Many Alzheimer's patients experience depression and anxiety symptoms, and psychological care can assist in addressing these issues through counseling, therapy, and other interventions. <br /><br
            /> Enhancing cognitive functioning: Psychological interventions, such as cognitive stimulation therapy and reminiscence therapy, can help maintain and improve cognitive abilities in Alzheimer's patients, potentially slowing down the progression
            of cognitive decline. <br /><br /> Supporting behavioral management: Alzheimer's patients may exhibit challenging behaviors, and psychological care can provide strategies and techniques for managing and reducing these behaviors, improving
            the overall caregiving experience. <br /><br /> Helping with coping and adjustment: Alzheimer's disease brings significant changes and challenges for both patients and their families. Psychological care can assist in coping with the diagnosis,
            adjusting to the changes, and providing guidance and support throughout the disease progression.
        </p>
    </div>
</main>

{% endblock content %}