{% load static %}

<div class="main">
  <div class="top">
    <div class="left">
      <div class="content">
        <h3>"Mind's Symphony, Unforgettable Melodies"</h3>
        <div class="desc_banner">
          <p>
            Alzheimer's Disease (AD) Is A Neurodegenerative Disorder
            Characterized By Progressive Cognitive Decline And Memory Loss.
            Alzheimer's Disease Leads To Brain Shrinkage And Eventually The
            Death Of Brain Cells. It Is The Most Common Cause Of Dementia,
            Affecting Millions Of People Around The World. It Affects Memory,
            Behavior, And Social Skills. Mild Cognitive Impairment (MCI) Is A
            Transitional Stage Between Normal Aging And Alzheimer's Disease, In
            Which Individuals Experience Mild Cognitive Deficits That Do Not
            Significantly Interfere With Daily Activities. Mild Cognitive
            Impairment (MCI) Can Develop Into Alzheimer's Disease Or Other Forms
            Of Dementia.
          </p>
        </div>
        <span> "Alzheimer's And Dementia" </span>
        <div class="desc_banner">
          <p>
            Worldwide, 55 Million People Are Living With Alzheimer's And Other
            Dementias. Alzheimer's Disease Is A Degenerative Brain Disease And
            The Most Common Form Of Dementia.
          </p>
        </div>

        <h4>To diagnose your condition, click Start ...</h4>
      </div>
    </div>
    <div class="right">
      <img src="{% static 'img/home.png' %}" alt="Elzahimergnosis" />
    </div>
  </div>
  <div class="btn_parent">
    <a href="{% url 'processing' %}" class="btn2">Start</a>
  </div>
</div>
